#git버전관리를 위해 만드는 폴더이기 때문에 커밋 히스토리, 브랜치 정보 같은게있는데 용량 커서 없어도 빌드 되고 빨라진다.
.git
#인텔리제이에서 어떤걸 했는지 알려준다. 개인설정이라 앱실행에 관계가 없음.
.idea
#gradle이 빌드할때 생성하는 결과물 폴더. 어짜피 컨테이너 안에서 ./gradle bootjar로 다시 빌드할거라서
#내 컴퓨터에서 만들어진 빌드 폴더를 복사할 필요가 없다.
build/
#환경변수(비밀정보를 담은 파일임.)
.env
#로그파일은 기록파일이라서 앱실행에 관계가 없음. = 루트에 있는 로그파일
*.log
#로그파일 전체를 제외하는거임. 폴더에따로 들어가는 로그
.logs/