.gradle/
build/
bin/
out/

discodeit.env
*.local

.idea/
*.iml
*.iws
*.ipr
.vscode/
.nbproject/


docker-compose.yaml
docker-compose.yml
Dockerfile
.dockerignore
ecs-task-def.json
.github/

.DS_Store
Thumbs.db
.logs/
*.log
*.md

.git
.gitignore
.gitattributes

.discodeit/
*.env